/* ------------------------------------- */

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

/* ------------------------------------- */

.header {
    background-color: gray;
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

.menu-link {
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    color: white;
    transition: 1s;
}

.menu-link:hover {
  color: #f6fa02;
}

/* ------------------------------------- */

.main-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.section {
    width: 50%;    
}

.section > p,
.section > ul {
  margin-left: 10px;
}

.section-name {
  font-size: 35px;
  font-weight: 400;
  letter-spacing: 3px;    
  color: #0011ff;
  margin-bottom: 10px;
  margin-left: 10px;
}

.section > img {
  width: 20%;
  margin-top: 14px;   
  border-radius: 30%;
}

.section-title {
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 3px;
  margin-left: 10px;
  color: #0011ff;
}

.contacts-link,
#discord {    
  color: #0011ff;
}

#prof {
  font-size: 1.2em;
  margin-top: 0;
  margin-left: 10px;
}

/* ------------------------------------- */
.footer {
    background-color: gray;
    margin-top: 15px;
}
  
.footer-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
  margin: 0 5px;
}

.footer-link img {
  margin-top: 5px;
  width: 50%;
}

.logo > img {
    margin: 0;
    width: 100px;
}

/* ------------------------------------- */

@media (max-width: 800px) {
    .section {
      width: 100%;
    }
    .menu {
          flex-direction: column;
          align-items: center;
    }
    .menu-item {
      padding-right: 0;
    }
}